<!-- competition_details.html -->
{% extends "layout.html" %}
{% block title %}Competition Details{% endblock %}
{% block page %}Competition Details{% endblock %}

{{ super() }}

{% block content %}

<style>
    .competition-details {
        margin-top: 20px;
    }

    .card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #fff;
        transition: box-shadow 0.3s;
        color: black;
    }

    .card:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .teams li {
        list-style-type: none;
    }
</style>

<div class="container">
    <center> <h1>{{ competition.name }}</h1> </center>

    <div class="competition-details">
        
        <h3>Teams</h3>
        
        {% for team in competition.teams %}
            
            <div class="card">
                <p><strong>Team ID: </strong> {{team.id}}</p>
                <p><strong>Team Name: </strong> {{team.name}}</p>
                <p><strong>Students: </strong></p>
                
                <ul class="team-members">
                    {% for student in team.students %}
                        <li>{{student.username}} {{student.curr_rank}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
