<!-- competition_details.html -->
{% extends "layout.html" %}
{% block title %}Competition Details{% endblock %}
{% block page %}Competition Details{% endblock %}

{{ super() }}

{% block content %}

<style>
    .participants {
        list-style-type: none;
        padding: 10px;
    }

    .participants li {
        border-bottom: 1px solid #2c1f1f;  
        padding: 8px;
        margin: 0;
    }
    
    .Register {
        box-shadow: darkblue;
    }


</style>

<center>
    <h1>{{competition.name}}</h1>
</center>

<h3>Teams</h3>

<ul class="teams">
    {% for team in competition.teams %}
        <li>{{team.name}}</li>
    {% endfor %}
</ul>

{% endblock %}
