{% extends "layout.html" %}
{% block title %}Competition Details | TFR Competition Platform{% endblock %}
{% block page %}TheFreeRats Competition Platform{% endblock %}

{{ super() }}

{% block content %}

<style>
    .main-container {
        height: 100%;
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .table-container {
        width: 40rem;
        background-color: #A9927D;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0.5rem;
        -webkit-box-shadow: 0px 0px 0px 0px #F2F4F3;
        box-shadow: 0px 0px 0px 0px #F2F4F3;
    }
    .student-name {
        color: white;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        color: white;
        cursor: default;
    }
     tr {
        transition: all 0.2s ease-in-out;
        border-radius: 0.2rem;
    }
    tr:hover {
        background-color: #fff;
        color: black;
        transform: scale(1.1);
        -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
        box-shadow: 0px 5px 15px 8px #e4e7fb;
    }
    tr:hover a {
        color: black;
    }
    tr a:hover {
        text-decoration: underline;
    }
    /* tr:nth-child(odd) {
        background-color: #FF8C94;
    } */
    /* tr:nth-child(1) {
        color: #fff;
    } */

    td {
        height: 5rem;
        font-family: "Rubik", sans-serif;
        font-size: 1.4rem;
        padding: 1rem 2rem;
        position: relative;
    }

    .rank {
        width: 1rem;
        font-size: 2.2rem;
        font-weight: bold;
        text-align: left;
    }

    .team .members {
        text-align: left;
        font-size: 1.2rem;
    }

    .points {
        font-weight: bold;
        font-size: 1.3rem;
        align-items: center;
    }


</style>
<div">
    <div>
        {% if session['user_type'] == 'moderator' and moderator in competition.moderators and not competition.confirm %}
        <button type="button" style="background-color: #343A40; padding: 5px; margin-left: 50px; margin-top: 50px; height: 35px; border-radius: 15px; font-family: helvetica;">
            <a style="color: white" href="{{ url_for('comp_views.add_results_page', comp_id=competition.id) }}">Add Results</a>
        </button>
        <button type="button" style="background-color: #343A40; padding: 5px; margin-left: 50px; margin-top: 50px; height: 35px; border-radius: 15px; font-family: helvetica;">
            <a style="color: white" href="{{ url_for('comp_views.confirm_results', comp_name=competition.name) }}">Confirm Results</a>
        </button>
        {% endif %}
    </div>
</div>
<div class="main-container">
    <div class="table-container" style="font-family: serif;">
        {% if not competition.confirm %}
            <h2 style="color: black; border-radius: 15px; text-align: center;">{{ competition.name }} Unofficial Results</h2>
        {% else %}
            <h2 style="color: black; border-radius: 15px; text-align: center;">{{ competition.name }} Official Results</h2>
        {% endif %}
        <table class="table" style="color: white; font-family: verdana;">
            {% for row in leaderboard %}
            <tr>
                <td class="rank">{{row['placement']}}</td>
                <td class="team">{{row['team']}}</td>
                <td class="members">
                {%for student in row['members']%}
                    <a class="student-name" href="{{url_for('index_views.student_profile_by_name', name=student)}}"><p>{{student}} </p></a>
                {% endfor %}
                </td>
                <td class="points">{{row['score']}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div style="padding: 20px;"></div>
{% endblock %}