<!-- competition_details.html -->
{% extends "layout.html" %}
{% block title %}Competition Details{% endblock %}
{% block page %}Competition Details{% endblock %}

{{ super() }}

{% block content %}

<style>

</style>

<center>
    <h1>{{competition.name}}</h1>
</center>

<h3>Teams</h3>

<ul class="teams">
    {% for team in competition.teams %}
        <li>{{team.id}} {{team.name}} {{team.students}}</li>
    {% endfor %}
</ul>

<ul class="team_members">
    {% for students in team.students %}
        <li>{{students.rating_score}}</li>
    {% endfor %}
</ul>

{% endblock %}
