{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block page %}UWI Competitions Platform{% endblock %}

{{ super() }}

{% block content %}

<style>
    .tables-container {
        display: flex;
        justify-content: space-between;
    }

    .leaderboard-table,
    
    .competitions-table,.leaderboard-table {
        width: 20%;
    }
</style>

<center>    <h2>The Facilitators Competition Platform</h2> </center>

    <div class="container">
        <div class="tables-container">
            <div class="leaderboard-table">
                <h4>Leaderboard</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Rating Score</th>
                            <th>Overall Rank</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                            <tr>
                                <td><a href="{{ url_for('index_views.student_profile', id=student.id) }}">{{ student.username}}</a></td>
                                <td>{{student.rating_score}}</td>
                                <td>{{student.curr_rank}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="competitions-table">
                <h4>Competitions</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <!-- Add more columns as needed -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for competition in competitions %}
                            <tr>
                                <td><a href="{{ url_for('index_views.competition_details', name=competition.name) }}">{{competition.name}}</a></td>
                                <!-- Add more columns as needed -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

 
{% endblock %}
