{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block page %}UWI Competitions Platform{% endblock %}

{{ super() }}

{% block content %}

<style>

    .tables-container {
        display: flex;
        justify-content: space-between;
    }

    .leaderboard-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .leaderboard-table th,
    .leaderboard-table td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    /*.leaderboard-table th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    .leaderboard-table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }*/

    .leaderboard-table tbody tr:hover {
        background-color: black;
    }

    .leaderboard-table tbody tr td a {
        color: #337ab7;
        text-decoration: none;
        font-weight: bold;
    }

    .leaderboard-table tbody tr td a:hover {
        text-decoration: underline;
    }
</style>
<div class="container">
    <div class="tables-container">
        <div class="leaderboard-table">
            <center>
                <h2 style="color: white;">Leaderboard</h2>
            </center>
            <table class="table">
                <thead>
                    <tr style="color: white;">
                        <th>Overall Rank</th>
                        <th>Username</th>
                        <th>Rating Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in leaderboard %}
                    <tr style="color: white;">
                        <td>{{student['placement']}}</td>
                        <td><a style= "color: white;" href="{{url_for('index_views.student_profile_by_name', name=student['student'])}}">{{ student['student']}}</a></td>
                        <td>{{student['rating score']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
