{% extends "layout.html" %}
{% block title %}Signup Page{% endblock %}
{% block page %}Code Comp{% endblock %}

{{ super() }}

{% block content %}

<style>

</style>

<center>    <h2>UWI Competitions Platform</h2> </center>

    <form action="{{ url_for('auth_views.signup') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <!-- <input type="radio" id="student" name="user_type" value="student" required>
        <label for="student">Student</label><br>

        <input type="radio" id="staff" name="user_type" value="admin" required>
        <label for="admin">Admin</label><br> -->

        <button type="submit">Signup</button>
    </form>
    
    <a href="{{ url_for('auth_views.login') }}" class="login-link">Log In</a>
 
{% endblock %}